h1{
	text-align: center;
	color: black;
}

body{
	margin:0;
	padding:0;
}

.chicken{
	font-weight: black;
	background-color: pink;
}

#content{
	background-color: grey;
	color: black;
}

.beef{
	color: white;
	background-color: red;
}

.sushi{
	color: black;
	background-color: yellow;
}