body{
	margin:0;
	padding:0;
}

h1 {
  text-align: center;
  font-family: helvetica;
  font-size: 27px;
}

* {
  box-sizing: border-box;
 
}

#container {
  border: 3px solid black;
  margin-left: 300px;
  margin-top: -3px;
  margin-right: -3px;
  margin-bottom: -15px;
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  background-color: red;
  font-size: 18px;
  
  
}

p {
  width: 90%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 20px;
  color: black;
  font-family: helvetica;
  font-weight: bold;
  font-size: 15px;
  
   
}



/*Simple Responsive Framework-Columns*/
.row {
  width: 100%;
  
 }

/*Large Devices Setup*/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
    float: left;
    border: 3px solid black; 
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: grey;
    }
  
  .col-lg-1 {
    width: 33.33%;
  }
  .col-lg-2 {
    width: 66.66%;
  }
  .col-lg-3 {
    width: 99.99%;
  }
  
}

/*Tablet Device Setup*/
@media (max-width: 991px) and (min-width: 768px) {
  .col-tab-1, .col-tab-2, .col-tab-3 {
    float: left;
    border: 3px solid black;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: grey;

    }
  
  .col-tab-1 {
    width: 33.33%;
  }
  .col-tab-2 {
    width: 66.66%;
  }
  .col-tab-3 {
    width: 99.99%;
  }
  
}

/*Mobile Device Setup*/
@media (max-width: 767px) {
  .col-mob-1, .col-mob-2, .col-mob-3 {
    float: left;
    border: 3px solid black;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    backgound-color: grey;
    }
  .col-mob-1 {
    width: 33.33%;
  }
  .col-mob-2 {
    width: 66.66%;
  }
  .col-mob-3 {
    width: 99.99%;
  }
  
}
